* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formula {
    margin: 1em;
    font-size: large;
    width: 96%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1em;
    padding: 1rem;
}

td {
    text-align: center;
}

th {
    text-align: center;
}